<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head>-->
<!--    <title>Board</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->

<head th:replace="fragments/myheader :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
<!--    <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->

    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">BOARD</h3></a>

    <div th:if="${session.loginedUserName==null}">hi</div>

    <div sec:authorize="isAnonymous()">
        <a href="/login">로그인</a>
        <a href="/join">회원가입</a>
    </div>
    <div sec:authorize="isAuthenticated()">

        <a href="/logout">로그아웃</a>
        <p th:text="${userName}"></p>
        <p th:text="${user2Name}"></p>
        <a href="/userInfo">회원정보</a>
    </div>

    <div class="jumbotron">
        <h1>AWS STUDY</h1>

        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts/save">게시글 등록(로그인필요)</a>
            <a class="btn btn-lg btn-dark" href="/api/v2/posts/all">게시글 목록(로그인필요X)</a>
        </p>
    </div>

</div> <!-- /container -->
</body>
</html>